In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df_train = pd.read_excel("Final_Train.xlsx")
df_test = pd.read_excel("Final_Test.xlsx")

In [3]:
df_train

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250
...,...,...,...,...,...,...,...
5956,"MBBS, MS - ENT",19 years experience,98%,"Basavanagudi, Bangalore",ENT Specialist,"98% 45 Feedback Basavanagudi, Bangalore",300
5957,MBBS,33 years experience,NaN,"Nungambakkam, Chennai",General Medicine,NaN,100
5958,MBBS,41 years experience,97%,"Greater Kailash Part 2, Delhi",General Medicine,"97% 11 Feedback Greater Kailash Part 2, Delhi",600
5959,"MBBS, MD - General Medicine",15 years experience,90%,"Vileparle West, Mumbai",General Medicine,General Medical Consultation Viral Fever Treat...,100
5960,"BDS, MDS - Orthodontics",17 years experience,100%,"Pitampura, Delhi",Dentist,Acrylic Partial Denture Crowns and Bridges Fix...,200

In [4]:
df_test

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...
...,...,...,...,...,...,...
1982,"BAMS, Doctor of Medicine",10 years experience,NaN,"Basavanagudi, Bangalore",Ayurveda,NaN
1983,"MD - Dermatology , Venereology & Leprosy, MBBS",4 years experience,NaN,"Choolai, Chennai",Dermatologists,NaN
1984,"MBBS, MD / MS - Obstetrics & Gynaecology",9 years experience,NaN,"Porur, Chennai",General Medicine,NaN
1985,BDS,12 years experience,98%,"Arekere, Bangalore",Dentist,RCT - Root Canal Treatment Root Canal Treatmen...
1986,"MBBS, MD - Dermatology , Venereology & Leprosy",8 years experience,NaN,"Pallikaranai, Chennai",Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500"

# EDA

In [5]:
df_train.isnull().sum()

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [6]:
df_test.isnull().sum()

Qualification            0
Experience               0
Rating                1090
Place                    6
Profile                  0
Miscellaneous_Info     834
dtype: int64

In [7]:
df_train.dtypes

Qualification         object
Experience            object
Rating                object
Place                 object
Profile               object
Miscellaneous_Info    object
Fees                   int64
dtype: object

In [8]:
df_train['Rating'].fillna(df_train['Rating'].mode()[0], inplace=True)

In [9]:
df_train['Miscellaneous_Info'].fillna(df_train['Miscellaneous_Info'].mode()[0], inplace=True)

In [10]:
df_train.isnull().sum()

Qualification          0
Experience             0
Rating                 0
Place                 25
Profile                0
Miscellaneous_Info     0
Fees                   0
dtype: int64

In [11]:
df_train['Place'].fillna(df_train['Place'].mode()[0], inplace=True)

In [12]:
df_train.isnull().sum()

Qualification         0
Experience            0
Rating                0
Place                 0
Profile               0
Miscellaneous_Info    0
Fees                  0
dtype: int64

In [13]:
df_train

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,100%,"Mathikere - BEL, Bangalore",ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...,300
3,"BSc - Zoology, BAMS",12 years experience,100%,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250
...,...,...,...,...,...,...,...
5956,"MBBS, MS - ENT",19 years experience,98%,"Basavanagudi, Bangalore",ENT Specialist,"98% 45 Feedback Basavanagudi, Bangalore",300
5957,MBBS,33 years experience,100%,"Nungambakkam, Chennai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...,100
5958,MBBS,41 years experience,97%,"Greater Kailash Part 2, Delhi",General Medicine,"97% 11 Feedback Greater Kailash Part 2, Delhi",600
5959,"MBBS, MD - General Medicine",15 years experience,90%,"Vileparle West, Mumbai",General Medicine,General Medical Consultation Viral Fever Treat...,100
5960,"BDS, MDS - Orthodontics",17 years experience,100%,"Pitampura, Delhi",Dentist,Acrylic Partial Denture Crowns and Bridges Fix...,200

In [14]:
df_test['Rating'].fillna(df_test['Rating'].mode()[0], inplace=True)

In [15]:
df_test['Miscellaneous_Info'].fillna(df_test['Miscellaneous_Info'].mode()[0], inplace=True)

In [16]:
df_test['Place'].fillna(df_test['Place'].mode()[0], inplace=True)

In [17]:
df_test.isnull().sum()

Qualification         0
Experience            0
Rating                0
Place                 0
Profile               0
Miscellaneous_Info    0
dtype: int64

In [18]:
df_test

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,100%,"Ghatkopar East, Mumbai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,100%,"West Marredpally, Hyderabad",ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,100%,"New Ashok Nagar, Delhi",Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...
...,...,...,...,...,...,...
1982,"BAMS, Doctor of Medicine",10 years experience,100%,"Basavanagudi, Bangalore",Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...
1983,"MD - Dermatology , Venereology & Leprosy, MBBS",4 years experience,100%,"Choolai, Chennai",Dermatologists,Acrylic Partial Denture Crowns and Bridges Fix...
1984,"MBBS, MD / MS - Obstetrics & Gynaecology",9 years experience,100%,"Porur, Chennai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...
1985,BDS,12 years experience,98%,"Arekere, Bangalore",Dentist,RCT - Root Canal Treatment Root Canal Treatmen...
1986,"MBBS, MD - Dermatology , Venereology & Leprosy",8 years experience,100%,"Pallikaranai, Chennai",Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500"

In [19]:
big_df=df_train.append(df_test, sort=False)

In [20]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350.0
2,"MBBS, MS - Otorhinolaryngology",9 years experience,100%,"Mathikere - BEL, Bangalore",ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,"BSc - Zoology, BAMS",12 years experience,100%,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,"BAMS, Doctor of Medicine",10 years experience,100%,"Basavanagudi, Bangalore",Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,"MD - Dermatology , Venereology & Leprosy, MBBS",4 years experience,100%,"Choolai, Chennai",Dermatologists,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,"MBBS, MD / MS - Obstetrics & Gynaecology",9 years experience,100%,"Porur, Chennai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,BDS,12 years experience,98%,"Arekere, Bangalore",Dentist,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,"MBBS, MD - Dermatology , Venereology & Leprosy",8 years experience,100%,"Pallikaranai, Chennai",Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [21]:
big_df.isnull().sum()

Qualification            0
Experience               0
Rating                   0
Place                    0
Profile                  0
Miscellaneous_Info       0
Fees                  1987
dtype: int64

In [22]:
big_df.dtypes

Qualification          object
Experience             object
Rating                 object
Place                  object
Profile                object
Miscellaneous_Info     object
Fees                  float64
dtype: object

In [23]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350.0
2,"MBBS, MS - Otorhinolaryngology",9 years experience,100%,"Mathikere - BEL, Bangalore",ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,"BSc - Zoology, BAMS",12 years experience,100%,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,"BAMS, Doctor of Medicine",10 years experience,100%,"Basavanagudi, Bangalore",Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,"MD - Dermatology , Venereology & Leprosy, MBBS",4 years experience,100%,"Choolai, Chennai",Dermatologists,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,"MBBS, MD / MS - Obstetrics & Gynaecology",9 years experience,100%,"Porur, Chennai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,BDS,12 years experience,98%,"Arekere, Bangalore",Dentist,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,"MBBS, MD - Dermatology , Venereology & Leprosy",8 years experience,100%,"Pallikaranai, Chennai",Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [24]:
big_df.dtypes

Qualification          object
Experience             object
Rating                 object
Place                  object
Profile                object
Miscellaneous_Info     object
Fees                  float64
dtype: object

In [25]:
label_encoder = preprocessing.LabelEncoder()

In [26]:
big_df['Qualification']=label_encoder.fit_transform(big_df['Qualification'])

In [27]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,92,12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350.0
2,1442,9 years experience,100%,"Mathikere - BEL, Bangalore",ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,572,12 years experience,100%,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,16,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,64,10 years experience,100%,"Basavanagudi, Bangalore",Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,1561,4 years experience,100%,"Choolai, Chennai",Dermatologists,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,1344,9 years experience,100%,"Porur, Chennai",General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,168,12 years experience,98%,"Arekere, Bangalore",Dentist,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,1108,8 years experience,100%,"Pallikaranai, Chennai",Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [28]:
big_df['Place']=label_encoder.fit_transform(big_df['Place'])

In [29]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,24 years experience,100%,327,Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,92,12 years experience,98%,936,Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350.0
2,1442,9 years experience,100%,499,ENT Specialist,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,572,12 years experience,100%,74,Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,16,20 years experience,100%,369,Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,64,10 years experience,100%,76,Ayurveda,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,1561,4 years experience,100%,135,Dermatologists,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,1344,9 years experience,100%,664,General Medicine,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,168,12 years experience,98%,34,Dentist,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,1108,8 years experience,100%,613,Dermatologists,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [30]:
big_df['Profile']=label_encoder.fit_transform(big_df['Profile'])

In [31]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,24 years experience,100%,327,5,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,92,12 years experience,98%,936,0,"98% 76 Feedback Whitefield, Bangalore",350.0
2,1442,9 years experience,100%,499,3,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,572,12 years experience,100%,74,0,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,16,20 years experience,100%,369,0,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,64,10 years experience,100%,76,0,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,1561,4 years experience,100%,135,2,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,1344,9 years experience,100%,664,4,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,168,12 years experience,98%,34,1,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,1108,8 years experience,100%,613,2,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [32]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,24 years experience,100%,327,5,"100% 16 Feedback Kakkanad, Ernakulam",100.0
1,92,12 years experience,98%,936,0,"98% 76 Feedback Whitefield, Bangalore",350.0
2,1442,9 years experience,100%,499,3,Acrylic Partial Denture Crowns and Bridges Fix...,300.0
3,572,12 years experience,100%,74,0,"Bannerghatta Road, Bangalore ₹250 Available on...",250.0
4,16,20 years experience,100%,369,0,"100% 4 Feedback Keelkattalai, Chennai",250.0
...,...,...,...,...,...,...,...
1982,64,10 years experience,100%,76,0,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1983,1561,4 years experience,100%,135,2,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1984,1344,9 years experience,100%,664,4,Acrylic Partial Denture Crowns and Bridges Fix...,NaN
1985,168,12 years experience,98%,34,1,RCT - Root Canal Treatment Root Canal Treatmen...,NaN
1986,1108,8 years experience,100%,613,2,"1 Feedback Pallikaranai, Chennai ₹500",NaN

In [33]:
big_df.dtypes

Qualification           int64
Experience             object
Rating                 object
Place                   int64
Profile                 int64
Miscellaneous_Info     object
Fees                  float64
dtype: object

In [34]:
big_df['Miscellaneous_Info']=label_encoder.fit_transform(big_df['Miscellaneous_Info'])

In [35]:
big_df.dtypes

Qualification           int64
Experience             object
Rating                 object
Place                   int64
Profile                 int64
Miscellaneous_Info      int64
Fees                  float64
dtype: object

In [36]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,24 years experience,100%,327,5,188,100.0
1,92,12 years experience,98%,936,0,1951,350.0
2,1442,9 years experience,100%,499,3,2174,300.0
3,572,12 years experience,100%,74,0,2299,250.0
4,16,20 years experience,100%,369,0,341,250.0
...,...,...,...,...,...,...,...
1982,64,10 years experience,100%,76,0,2174,NaN
1983,1561,4 years experience,100%,135,2,2174,NaN
1984,1344,9 years experience,100%,664,4,2174,NaN
1985,168,12 years experience,98%,34,1,3573,NaN
1986,1108,8 years experience,100%,613,2,25,NaN

In [37]:
big_df.dtypes

Qualification           int64
Experience             object
Rating                 object
Place                   int64
Profile                 int64
Miscellaneous_Info      int64
Fees                  float64
dtype: object

In [38]:
big_df['Rating']=label_encoder.fit_transform(big_df['Rating'])

In [39]:
big_df.dtypes

Qualification           int64
Experience             object
Rating                  int64
Place                   int64
Profile                 int64
Miscellaneous_Info      int64
Fees                  float64
dtype: object

In [40]:
big_df['Experience']=label_encoder.fit_transform(big_df['Experience'])

In [41]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,16,0,327,5,188,100.0
1,92,3,50,936,0,1951,350.0
2,1442,63,0,499,3,2174,300.0
3,572,3,0,74,0,2299,250.0
4,16,12,0,369,0,341,250.0
...,...,...,...,...,...,...,...
1982,64,1,0,76,0,2174,NaN
1983,1561,33,0,135,2,2174,NaN
1984,1344,63,0,664,4,2174,NaN
1985,168,3,50,34,1,3573,NaN
1986,1108,62,0,613,2,25,NaN

In [42]:
big_df.dtypes

Qualification           int64
Experience              int64
Rating                  int64
Place                   int64
Profile                 int64
Miscellaneous_Info      int64
Fees                  float64
dtype: object

In [43]:
big_df['Experience']=big_df['Experience'].astype(int)

In [44]:
big_df.dtypes

Qualification           int64
Experience              int64
Rating                  int64
Place                   int64
Profile                 int64
Miscellaneous_Info      int64
Fees                  float64
dtype: object

In [45]:
big_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,16,0,327,5,188,100.0
1,92,3,50,936,0,1951,350.0
2,1442,63,0,499,3,2174,300.0
3,572,3,0,74,0,2299,250.0
4,16,12,0,369,0,341,250.0
...,...,...,...,...,...,...,...
1982,64,1,0,76,0,2174,NaN
1983,1561,33,0,135,2,2174,NaN
1984,1344,63,0,664,4,2174,NaN
1985,168,3,50,34,1,3573,NaN
1986,1108,62,0,613,2,25,NaN

In [46]:
big_df.skew()

Qualification         0.247541
Experience            0.826304
Rating                0.805754
Place                 0.111599
Profile               0.088789
Miscellaneous_Info   -0.306820
Fees                  0.751870
dtype: float64

In [47]:
train_df = big_df[0:5961]
test_df = big_df[5961:]

In [48]:
train_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,491,16,0,327,5,188,100.0
1,92,3,50,936,0,1951,350.0
2,1442,63,0,499,3,2174,300.0
3,572,3,0,74,0,2299,250.0
4,16,12,0,369,0,341,250.0
...,...,...,...,...,...,...,...
5956,1366,10,50,76,3,1900,300.0
5957,749,26,0,589,4,2174,100.0
5958,749,35,49,234,4,1596,600.0
5959,1193,6,42,918,4,2961,100.0
5960,300,8,0,656,1,2174,200.0

In [49]:
from scipy.stats import zscore
z_score=abs(zscore(train_df))
print(train_df.shape)
train_df_final=train_df.loc[(z_score<3).all(axis=1)]
print(train_df_final.shape)

(5961, 7)
(5941, 7)

In [50]:
test_df

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,749,28,0,219,4,2174,NaN
1,983,24,0,934,3,2174,NaN
2,789,34,22,316,2,587,NaN
3,16,0,0,579,0,2174,NaN
4,255,7,0,342,1,2951,NaN
...,...,...,...,...,...,...,...
1982,64,1,0,76,0,2174,NaN
1983,1561,33,0,135,2,2174,NaN
1984,1344,63,0,664,4,2174,NaN
1985,168,3,50,34,1,3573,NaN
1986,1108,62,0,613,2,25,NaN

In [51]:
x = train_df_final.drop(['Fees'], axis=1)
y = train_df_final['Fees']

In [52]:
x

      Qualification  Experience  Rating  Place  Profile  Miscellaneous_Info
0               491          16       0    327        5                 188
1                92           3      50    936        0                1951
2              1442          63       0    499        3                2174
3               572           3       0     74        0                2299
4                16          12       0    369        0                 341
...             ...         ...     ...    ...      ...                 ...
5956           1366          10      50     76        3                1900
5957            749          26       0    589        4                2174
5958            749          35      49    234        4                1596
5959           1193           6      42    918        4                2961
5960            300           8       0    656        1                2174

[5941 rows x 6 columns]

In [53]:
y

0       100.0
1       350.0
2       300.0
3       250.0
4       250.0
        ...
5956    300.0
5957    100.0
5958    600.0
5959    100.0
5960    200.0
Name: Fees, Length: 5941, dtype: float64

# Modelling

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [55]:
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    lr=linear_model.LinearRegression()
    lr.fit(x_train,y_train)
    y_pred = lr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.0951656127494166
r2 score corresponding to random state:  43 is:  0.10677669964377312
r2 score corresponding to random state:  44 is:  0.062350862838150944
r2 score corresponding to random state:  45 is:  0.0801947396234024
r2 score corresponding to random state:  46 is:  0.1020781422245044
r2 score corresponding to random state:  47 is:  0.07942363095364702
r2 score corresponding to random state:  48 is:  0.08043659554241211
r2 score corresponding to random state:  49 is:  0.1176290338158994
r2 score corresponding to random state:  50 is:  0.08201140398589335
r2 score corresponding to random state:  51 is:  0.08031517863909898
r2 score corresponding to random state:  52 is:  0.09303920734326543
r2 score corresponding to random state:  53 is:  0.10168267654014151
r2 score corresponding to random state:  54 is:  0.08077954771851248
r2 score corresponding to random state:  55 is:  0.09208636353892796
r2 score corresponding to random state:  56 is:  0.1020949718791535
r2 score corresponding to random state:  57 is:  0.10327117566580557
r2 score corresponding to random state:  58 is:  0.08850404028737202
r2 score corresponding to random state:  59 is:  0.08919483426559138
r2 score corresponding to random state:  60 is:  0.10057289560645011
r2 score corresponding to random state:  61 is:  0.09531213973431907
r2 score corresponding to random state:  62 is:  0.08936606878425868
r2 score corresponding to random state:  63 is:  0.10290837940674269
r2 score corresponding to random state:  64 is:  0.08248788539436247
r2 score corresponding to random state:  65 is:  0.09457317073530358
r2 score corresponding to random state:  66 is:  0.08384633424687571
r2 score corresponding to random state:  67 is:  0.08863232036111479
r2 score corresponding to random state:  68 is:  0.08209073237519837
r2 score corresponding to random state:  69 is:  0.08052509513914763
r2 score corresponding to random state:  70 is:  0.08851364967548858
r2 score corresponding to random state:  71 is:  0.08176357664309575
r2 score corresponding to random state:  72 is:  0.09274859334436225
r2 score corresponding to random state:  73 is:  0.06578171942867572
r2 score corresponding to random state:  74 is:  0.08885007167566861
r2 score corresponding to random state:  75 is:  0.08795970721929891
r2 score corresponding to random state:  76 is:  0.08381734975004451
r2 score corresponding to random state:  77 is:  0.08722515457855662
r2 score corresponding to random state:  78 is:  0.09477972643843413
r2 score corresponding to random state:  79 is:  0.06715453483659373
r2 score corresponding to random state:  80 is:  0.09125050229840181
r2 score corresponding to random state:  81 is:  0.06901364553815093
r2 score corresponding to random state:  82 is:  0.1063438866858657
r2 score corresponding to random state:  83 is:  0.08280973651305823
r2 score corresponding to random state:  84 is:  0.10600040168387048
r2 score corresponding to random state:  85 is:  0.10537690969549873
r2 score corresponding to random state:  86 is:  0.07784635115960936
r2 score corresponding to random state:  87 is:  0.08238363296978679
r2 score corresponding to random state:  88 is:  0.09567570393476166
r2 score corresponding to random state:  89 is:  0.10207529460240505
r2 score corresponding to random state:  90 is:  0.0847896504083484
r2 score corresponding to random state:  91 is:  0.10043525360740413
r2 score corresponding to random state:  92 is:  0.098675827661039
r2 score corresponding to random state:  93 is:  0.09461363252155464
r2 score corresponding to random state:  94 is:  0.06956111752429284
r2 score corresponding to random state:  95 is:  0.07863152248058403
r2 score corresponding to random state:  96 is:  0.08324238793388761
r2 score corresponding to random state:  97 is:  0.09760849093234525
r2 score corresponding to random state:  98 is:  0.10311286040156498
r2 score corresponding to random state:  99 is:  0.11250276082234534
r2 score corresponding to random state:  100 is:  0.07906036597560306
max r2 score corresponding to 49  is  0.1176290338158994

In [56]:
from sklearn.model_selection import cross_val_score
cross_val_score(linear_model.LinearRegression(),x,y,cv=5,scoring="r2").mean()

0.09066780010687277

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
lr=linear_model.LinearRegression()
lr.fit(x_train,y_train)
y_predlr=lr.predict(x_test)

In [58]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
neighbors={"n_neighbors":range(1,30)}
knr=KNeighborsRegressor()
gknr = GridSearchCV(knr, neighbors, cv=5)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 29}

In [59]:
knr=KNeighborsRegressor(n_neighbors=29)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    knr.fit(x_train,y_train)
    y_pred = knr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.1331189015070111
r2 score corresponding to random state:  43 is:  0.1436285859595554
r2 score corresponding to random state:  44 is:  0.10625958587043238
r2 score corresponding to random state:  45 is:  0.11452993451589022
r2 score corresponding to random state:  46 is:  0.09323434991667301
r2 score corresponding to random state:  47 is:  0.11702675960664966
r2 score corresponding to random state:  48 is:  0.12964355268965488
r2 score corresponding to random state:  49 is:  0.16486950798776612
r2 score corresponding to random state:  50 is:  0.1284663456504489
r2 score corresponding to random state:  51 is:  0.10201208626527414
r2 score corresponding to random state:  52 is:  0.11726904399185345
r2 score corresponding to random state:  53 is:  0.13407222593252155
r2 score corresponding to random state:  54 is:  0.12098812635436462
r2 score corresponding to random state:  55 is:  0.11276091243973896
r2 score corresponding to random state:  56 is:  0.16493494085921345
r2 score corresponding to random state:  57 is:  0.14732548236254328
r2 score corresponding to random state:  58 is:  0.11117633247574243
r2 score corresponding to random state:  59 is:  0.13057545265336368
r2 score corresponding to random state:  60 is:  0.11932188146445721
r2 score corresponding to random state:  61 is:  0.1018515053233855
r2 score corresponding to random state:  62 is:  0.13810375811860276
r2 score corresponding to random state:  63 is:  0.12860631052081994
r2 score corresponding to random state:  64 is:  0.1356841283143797
r2 score corresponding to random state:  65 is:  0.13261005053010555
r2 score corresponding to random state:  66 is:  0.1146931380892966
r2 score corresponding to random state:  67 is:  0.13888522772946743
r2 score corresponding to random state:  68 is:  0.13829548324744356
r2 score corresponding to random state:  69 is:  0.12378499606853555
r2 score corresponding to random state:  70 is:  0.118737699130952
r2 score corresponding to random state:  71 is:  0.1283441919377032
r2 score corresponding to random state:  72 is:  0.13399479728560515
r2 score corresponding to random state:  73 is:  0.09686337756559538
r2 score corresponding to random state:  74 is:  0.12468908864294581
r2 score corresponding to random state:  75 is:  0.11539038138426339
r2 score corresponding to random state:  76 is:  0.13000214972134183
r2 score corresponding to random state:  77 is:  0.14256739701345855
r2 score corresponding to random state:  78 is:  0.14458208598627365
r2 score corresponding to random state:  79 is:  0.10993732661240696
r2 score corresponding to random state:  80 is:  0.1445204371254839
r2 score corresponding to random state:  81 is:  0.08687668541112548
r2 score corresponding to random state:  82 is:  0.12861888786763265
r2 score corresponding to random state:  83 is:  0.1159765116580459
r2 score corresponding to random state:  84 is:  0.12176055304236444
r2 score corresponding to random state:  85 is:  0.1341321242554132
r2 score corresponding to random state:  86 is:  0.10602746540975583
r2 score corresponding to random state:  87 is:  0.12288442791670551
r2 score corresponding to random state:  88 is:  0.13480708036405586
r2 score corresponding to random state:  89 is:  0.16047337313949817
r2 score corresponding to random state:  90 is:  0.11001805845776014
r2 score corresponding to random state:  91 is:  0.13013879355809355
r2 score corresponding to random state:  92 is:  0.1295254749399859
r2 score corresponding to random state:  93 is:  0.1254917696357668
r2 score corresponding to random state:  94 is:  0.11718446735768173
r2 score corresponding to random state:  95 is:  0.12111621393034777
r2 score corresponding to random state:  96 is:  0.0937159151767224
r2 score corresponding to random state:  97 is:  0.12456643901602615
r2 score corresponding to random state:  98 is:  0.09458578798795891
r2 score corresponding to random state:  99 is:  0.13428592175824006
r2 score corresponding to random state:  100 is:  0.08713641005435446
max r2 score corresponding to 56  is  0.16493494085921345

In [60]:
from sklearn.model_selection import cross_val_score
print("Mean r2score for kNeighbors Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for kNeighbors Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").std())

Mean r2score for kNeighbors Regression:  0.12524746636303236
Standard deviation in r2 score for kNeighbors Regression:  0.011584853543888047

In [61]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=100,test_size=0.20)
knr.fit(x_train,y_train)
y_predknr=knr.predict(x_test)

In [62]:
from sklearn.linear_model import Lasso
parameters={"alpha":[0.001,0.01,0.1,1]}
lsreg=Lasso()
glsr = GridSearchCV(lsreg, parameters, cv=5)
glsr.fit(x,y)
glsr.best_params_

{'alpha': 0.1}

In [63]:
lsreg=Lasso(alpha=1)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    lsreg.fit(x_train,y_train)
    y_pred = lsreg.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.09507799271568818
r2 score corresponding to random state:  43 is:  0.1070003549880717
r2 score corresponding to random state:  44 is:  0.06240536022387144
r2 score corresponding to random state:  45 is:  0.08017350574294302
r2 score corresponding to random state:  46 is:  0.10172121346130425
r2 score corresponding to random state:  47 is:  0.0797748310951949
r2 score corresponding to random state:  48 is:  0.08025949922913
r2 score corresponding to random state:  49 is:  0.11731685257737445
r2 score corresponding to random state:  50 is:  0.08211812736475077
r2 score corresponding to random state:  51 is:  0.08063101467476275
r2 score corresponding to random state:  52 is:  0.09292523135493369
r2 score corresponding to random state:  53 is:  0.10127060426281365
r2 score corresponding to random state:  54 is:  0.0809385123526637
r2 score corresponding to random state:  55 is:  0.09190769677035693
r2 score corresponding to random state:  56 is:  0.10208075759775148
r2 score corresponding to random state:  57 is:  0.10330091221596227
r2 score corresponding to random state:  58 is:  0.08838251959308874
r2 score corresponding to random state:  59 is:  0.08931386326456392
r2 score corresponding to random state:  60 is:  0.10048736067713293
r2 score corresponding to random state:  61 is:  0.09522237518484422
r2 score corresponding to random state:  62 is:  0.08929747068972138
r2 score corresponding to random state:  63 is:  0.1025838997152948
r2 score corresponding to random state:  64 is:  0.08227921257430515
r2 score corresponding to random state:  65 is:  0.09476464196829626
r2 score corresponding to random state:  66 is:  0.08375667115337859
r2 score corresponding to random state:  67 is:  0.08832830331298513
r2 score corresponding to random state:  68 is:  0.08215025372624407
r2 score corresponding to random state:  69 is:  0.08054362572055129
r2 score corresponding to random state:  70 is:  0.08804259653521695
r2 score corresponding to random state:  71 is:  0.08171356467522828
r2 score corresponding to random state:  72 is:  0.09261380408457054
r2 score corresponding to random state:  73 is:  0.06572403073751054
r2 score corresponding to random state:  74 is:  0.08841592215487593
r2 score corresponding to random state:  75 is:  0.08798930193934784
r2 score corresponding to random state:  76 is:  0.08414807803155888
r2 score corresponding to random state:  77 is:  0.08730208826315389
r2 score corresponding to random state:  78 is:  0.09480512607198044
r2 score corresponding to random state:  79 is:  0.0671263705840226
r2 score corresponding to random state:  80 is:  0.09119375627840387
r2 score corresponding to random state:  81 is:  0.06909795291107634
r2 score corresponding to random state:  82 is:  0.10638723151270679
r2 score corresponding to random state:  83 is:  0.08272520767372027
r2 score corresponding to random state:  84 is:  0.10609559586856177
r2 score corresponding to random state:  85 is:  0.10531899819433888
r2 score corresponding to random state:  86 is:  0.07785459657556815
r2 score corresponding to random state:  87 is:  0.08245874394104769
r2 score corresponding to random state:  88 is:  0.0953041739441235
r2 score corresponding to random state:  89 is:  0.1022509626582575
r2 score corresponding to random state:  90 is:  0.0847112238027018
r2 score corresponding to random state:  91 is:  0.10026706087700676
r2 score corresponding to random state:  92 is:  0.09875125369101301
r2 score corresponding to random state:  93 is:  0.09460958931879049
r2 score corresponding to random state:  94 is:  0.06952403277344665
r2 score corresponding to random state:  95 is:  0.07883466585174759
r2 score corresponding to random state:  96 is:  0.08318404084295805
r2 score corresponding to random state:  97 is:  0.09730193275449661
r2 score corresponding to random state:  98 is:  0.103222400758741
r2 score corresponding to random state:  99 is:  0.11248832014745602
r2 score corresponding to random state:  100 is:  0.07910523198511199
max r2 score corresponding to 49  is  0.11731685257737445

In [64]:
print("Mean r2score for gradient boosting Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Gradient Boosting Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").std())

Mean r2score for gradient boosting Regression:  0.09066511719166585
Standard deviation in r2 score for Gradient Boosting Regression:  0.0031075022213105825

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
lsreg.fit(x_train,y_train)
y_predlas=lsreg.predict(x_test)

In [66]:
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings("ignore")
gbr=GradientBoostingRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000]}
ggbr = GridSearchCV(gbr, parameters, cv=5)
ggbr.fit(x,y)
ggbr.best_params_

{'learning_rate': 0.1, 'n_estimators': 500}

In [67]:
gbr=GradientBoostingRegressor(learning_rate=0.1,n_estimators=500)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    gbr.fit(x_train,y_train)
    y_pred = gbr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.17956861127410761
r2 score corresponding to random state:  43 is:  0.1958284877095584
r2 score corresponding to random state:  44 is:  0.1479713804057219
r2 score corresponding to random state:  45 is:  0.21634603190385837
r2 score corresponding to random state:  46 is:  0.13552457754007452
r2 score corresponding to random state:  47 is:  0.20528079422658507
r2 score corresponding to random state:  48 is:  0.18118978877211123
r2 score corresponding to random state:  49 is:  0.21512743328140604
r2 score corresponding to random state:  50 is:  0.2087360326688471
r2 score corresponding to random state:  51 is:  0.1797991840676405
r2 score corresponding to random state:  52 is:  0.2153370570318287
r2 score corresponding to random state:  53 is:  0.20102980093958356
r2 score corresponding to random state:  54 is:  0.18299782564735934
r2 score corresponding to random state:  55 is:  0.16129353738193297
r2 score corresponding to random state:  56 is:  0.20649707997346967
r2 score corresponding to random state:  57 is:  0.1667729721071931
r2 score corresponding to random state:  58 is:  0.19680073313523938
r2 score corresponding to random state:  59 is:  0.1808724412510383
r2 score corresponding to random state:  60 is:  0.216577940614459
r2 score corresponding to random state:  61 is:  0.17197562849646308
r2 score corresponding to random state:  62 is:  0.16671023493173276
r2 score corresponding to random state:  63 is:  0.2192321587411995
r2 score corresponding to random state:  64 is:  0.20379744512951414
r2 score corresponding to random state:  65 is:  0.23197798842437345
r2 score corresponding to random state:  66 is:  0.15032625587307158
r2 score corresponding to random state:  67 is:  0.19476298580007056
r2 score corresponding to random state:  68 is:  0.1721165125534072
r2 score corresponding to random state:  69 is:  0.1926024318321875
r2 score corresponding to random state:  70 is:  0.21043346523272588
r2 score corresponding to random state:  71 is:  0.1770987067619495
r2 score corresponding to random state:  72 is:  0.2022546212631403
r2 score corresponding to random state:  73 is:  0.18234661184414858
r2 score corresponding to random state:  74 is:  0.17105728224901617
r2 score corresponding to random state:  75 is:  0.18354426687609304
r2 score corresponding to random state:  76 is:  0.15443858995613002
r2 score corresponding to random state:  77 is:  0.1775089030652386
r2 score corresponding to random state:  78 is:  0.20956658100261838
r2 score corresponding to random state:  79 is:  0.21160113798552738
r2 score corresponding to random state:  80 is:  0.18492695934316516
r2 score corresponding to random state:  81 is:  0.17543361241492283
r2 score corresponding to random state:  82 is:  0.19554959949039152
r2 score corresponding to random state:  83 is:  0.20147386365703834
r2 score corresponding to random state:  84 is:  0.20435146537787552
r2 score corresponding to random state:  85 is:  0.19869950670134573
r2 score corresponding to random state:  86 is:  0.17250830317093246
r2 score corresponding to random state:  87 is:  0.18121672820470203
r2 score corresponding to random state:  88 is:  0.20251782103277094
r2 score corresponding to random state:  89 is:  0.2199148375876876
r2 score corresponding to random state:  90 is:  0.1682839994648614
r2 score corresponding to random state:  91 is:  0.2062622275966992
r2 score corresponding to random state:  92 is:  0.21110510497432022
r2 score corresponding to random state:  93 is:  0.19289812865237044
r2 score corresponding to random state:  94 is:  0.18482221606459015
r2 score corresponding to random state:  95 is:  0.16757793551927014
r2 score corresponding to random state:  96 is:  0.16862191461074127
r2 score corresponding to random state:  97 is:  0.2011628813315337
r2 score corresponding to random state:  98 is:  0.2062784567477669
r2 score corresponding to random state:  99 is:  0.24233709056534591
r2 score corresponding to random state:  100 is:  0.17627472430925473
max r2 score corresponding to 99  is  0.24233709056534591

In [68]:
print("Mean r2score for gradient boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Gradient Boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").std())

Mean r2score for gradient boosting Regression:  0.19777720854324213
Standard deviation in r2 score for Gradient Boosting Regression:  0.03657897610821299

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
gbr.fit(x_train,y_train)
y_predgbr=gbr.predict(x_test)

In [70]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
ada_reg=AdaBoostRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000],"base_estimator":[lr,lsreg,DecisionTreeRegressor()]}
gada = GridSearchCV(ada_reg, parameters, cv=5)
gada.fit(x,y)
gada.best_params_

{'base_estimator': DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=None, splitter='best'),
 'learning_rate': 0.1,
 'n_estimators': 1000}

In [71]:
ada_reg=AdaBoostRegressor(learning_rate=0.1,n_estimators=500)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    ada_reg.fit(x_train,y_train)
    y_pred = ada_reg.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.11133099191898521
r2 score corresponding to random state:  43 is:  0.13014843909881435
r2 score corresponding to random state:  44 is:  0.07736461327060162
r2 score corresponding to random state:  45 is:  0.10394914575127445
r2 score corresponding to random state:  46 is:  0.1152149982174614
r2 score corresponding to random state:  47 is:  0.10858065835860531
r2 score corresponding to random state:  48 is:  0.11317019501027803
r2 score corresponding to random state:  49 is:  0.13524144739267852
r2 score corresponding to random state:  50 is:  0.1242576341189523
r2 score corresponding to random state:  51 is:  0.10424828913745088
r2 score corresponding to random state:  52 is:  0.12785264545505515
r2 score corresponding to random state:  53 is:  0.11648945599546012
r2 score corresponding to random state:  54 is:  0.11233044404291137
r2 score corresponding to random state:  55 is:  0.12290687237998876
r2 score corresponding to random state:  56 is:  0.14172154216372868
r2 score corresponding to random state:  57 is:  0.14508997245981203
r2 score corresponding to random state:  58 is:  0.1297664203547415
r2 score corresponding to random state:  59 is:  0.10640058801070085
r2 score corresponding to random state:  60 is:  0.12574421506113398
r2 score corresponding to random state:  61 is:  0.10780747787679745
r2 score corresponding to random state:  62 is:  0.11140562866968129
r2 score corresponding to random state:  63 is:  0.12242396436506697
r2 score corresponding to random state:  64 is:  0.1276380730643094
r2 score corresponding to random state:  65 is:  0.12919850310356662
r2 score corresponding to random state:  66 is:  0.11610288878428976
r2 score corresponding to random state:  67 is:  0.13688739040910136
r2 score corresponding to random state:  68 is:  0.12328856297729429
r2 score corresponding to random state:  69 is:  0.0862440241898792
r2 score corresponding to random state:  70 is:  0.12663661860993924
r2 score corresponding to random state:  71 is:  0.12429515286780346
r2 score corresponding to random state:  72 is:  0.10749380601849223
r2 score corresponding to random state:  73 is:  0.12724938489317517
r2 score corresponding to random state:  74 is:  0.11501240576626603
r2 score corresponding to random state:  75 is:  0.13820791380411634
r2 score corresponding to random state:  76 is:  0.10260848977494819
r2 score corresponding to random state:  77 is:  0.11342837152469543
r2 score corresponding to random state:  78 is:  0.11898616516589966
r2 score corresponding to random state:  79 is:  0.09961819076687428
r2 score corresponding to random state:  80 is:  0.13271075079779704
r2 score corresponding to random state:  81 is:  0.09943161221020724
r2 score corresponding to random state:  82 is:  0.12887336366426316
r2 score corresponding to random state:  83 is:  0.1259108445079612
r2 score corresponding to random state:  84 is:  0.1420394420251998
r2 score corresponding to random state:  85 is:  0.14826663505613458
r2 score corresponding to random state:  86 is:  0.0963149352271877
r2 score corresponding to random state:  87 is:  0.11600495994868287
r2 score corresponding to random state:  88 is:  0.1206915115712871
r2 score corresponding to random state:  89 is:  0.14281877563504652
r2 score corresponding to random state:  90 is:  0.10604757943694831
r2 score corresponding to random state:  91 is:  0.14359692289561954
r2 score corresponding to random state:  92 is:  0.11400320518555807
r2 score corresponding to random state:  93 is:  0.13097785644804982
r2 score corresponding to random state:  94 is:  0.10046667347653981
r2 score corresponding to random state:  95 is:  0.10020572465663502
r2 score corresponding to random state:  96 is:  0.09421375986247393
r2 score corresponding to random state:  97 is:  0.128868970897408
r2 score corresponding to random state:  98 is:  0.10954440761407924
r2 score corresponding to random state:  99 is:  0.13295583578603742
r2 score corresponding to random state:  100 is:  0.10878549501119306
max r2 score corresponding to 85  is  0.14826663505613458

# Model Selection

In [ ]:
I choose GradientBoostingRegressor Model as my preferred model as it performs better on the above dataset.

# Save the Model

In [ ]:
from sklearn.externals import joblib

In [ ]:
joblib.dump(gbr,'Model_DoctorConsultationPrediction.csv')