In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df_train = pd.read_excel("Data_Train.xlsx")
df_test = pd.read_excel("Test_set.xlsx")

In [3]:
df_train

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [4]:
df_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

# EDA

In [5]:
df_train['Arrival_Time'] = df_train['Arrival_Time'].str.split(' ').str[0]

In [6]:
df_train

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [7]:
df_test['Arrival_Time'] = df_test['Arrival_Time'].str.split(' ').str[0]

In [8]:
df_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [9]:
big_df=df_train.append(df_test, sort=False)

In [10]:
big_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [11]:
big_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [12]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

In [13]:
big_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [14]:
big_df['Date']= big_df['Date_of_Journey'].str.split('/').str[0]
big_df['Month']= big_df['Date_of_Journey'].str.split('/').str[1]
big_df['Year']= big_df['Date_of_Journey'].str.split('/').str[2]

In [15]:
big_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,NaN,6,06,2019
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,27,03,2019
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,NaN,6,03,2019
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,6,03,2019
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,15,06,2019

In [16]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                object
Month               object
Year                object
dtype: object

In [17]:
big_df['Date']=big_df['Date'].astype(int)
big_df['Month']=big_df['Month'].astype(int)
big_df['Year']=big_df['Year'].astype(int)

In [18]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [19]:
big_df = big_df.drop(['Date_of_Journey'],axis=1)

In [20]:
big_df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,NaN,6,6,2019
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,27,3,2019
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,NaN,6,3,2019
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,6,3,2019
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,15,6,2019

In [21]:
big_df['Arrival_Hour']= big_df['Arrival_Time'].str.split(':').str[0]
big_df['Arrival_Minutes']= big_df['Arrival_Time'].str.split(':').str[1]

In [22]:
big_df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,NaN,6,6,2019,20,25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,27,3,2019,16,55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,NaN,6,3,2019,04,25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,6,3,2019,19,15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,15,6,2019,19,15

In [23]:
big_df = big_df.drop(['Arrival_Time'],axis=1)

In [24]:
big_df

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,23h 55m,1 stop,No info,NaN,6,6,2019,20,25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,2h 35m,non-stop,No info,NaN,27,3,2019,16,55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,6h 35m,1 stop,No info,NaN,6,3,2019,04,25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,15h 15m,1 stop,No info,NaN,6,3,2019,19,15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,14h 20m,1 stop,No info,NaN,15,6,2019,19,15

In [25]:
big_df['Dep_Hour']= big_df['Dep_Time'].str.split(':').str[0]
big_df['Dep_Minutes']= big_df['Dep_Time'].str.split(':').str[1]

In [26]:
big_df = big_df.drop(['Dep_Time'],axis=1)

In [27]:
big_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,04,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,non-stop,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,NaN,6,3,2019,04,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,NaN,6,3,2019,19,15,04,00
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,NaN,15,6,2019,19,15,04,55

In [28]:
big_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour        object
Arrival_Minutes     object
Dep_Hour            object
Dep_Minutes         object
dtype: object

In [29]:
big_df['Arrival_Hour']=big_df['Arrival_Hour'].astype(int)
big_df['Arrival_Minutes']=big_df['Arrival_Minutes'].astype(int)
big_df['Dep_Hour']=big_df['Dep_Hour'].astype(int)
big_df['Dep_Minutes']=big_df['Dep_Minutes'].astype(int)

In [30]:
big_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour         int64
Arrival_Minutes      int64
Dep_Hour             int64
Dep_Minutes          int64
dtype: object

In [31]:
big_df['Total_Stops'] = big_df['Total_Stops'].replace('non-stop','0 stop')

In [32]:
big_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0 stop,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,NaN,6,3,2019,4,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,NaN,15,6,2019,19,15,4,55

In [33]:
big_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minutes       0
Dep_Hour              0
Dep_Minutes           0
dtype: int64

In [34]:
big_df[big_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [35]:
big_df['Total_Stops'] = big_df['Total_Stops'].fillna('1 stop')

In [36]:
big_df['Stops']= big_df['Total_Stops'].str.split(' ').str[0]

In [37]:
big_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897.0,24,3,2019,1,10,22,20,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,NaN,6,6,2019,20,25,20,30,1
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0 stop,No info,NaN,27,3,2019,16,55,14,20,0
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,NaN,6,3,2019,4,25,21,50,1
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,NaN,6,3,2019,19,15,4,0,1
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,NaN,15,6,2019,19,15,4,55,1

In [38]:
big_df['Route'] = big_df['Route'].fillna('None')

In [39]:
big_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour         int64
Arrival_Minutes      int64
Dep_Hour             int64
Dep_Minutes          int64
Stops               object
dtype: object

In [40]:
big_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minutes       0
Dep_Hour              0
Dep_Minutes           0
Stops                 0
dtype: int64

In [41]:
big_df['Route_1'] = big_df['Route'].str.split('→').str[0]
big_df['Route_2'] = big_df['Route'].str.split('→').str[1]
big_df['Route_3'] = big_df['Route'].str.split('→').str[2]
big_df['Route_4'] = big_df['Route'].str.split('→').str[3]
big_df['Route_5'] = big_df['Route'].str.split('→').str[4]

In [42]:
big_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,...,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897.0,24,3,...,1,10,22,20,0,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,...,13,15,5,50,2,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,...,4,25,9,25,2,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,...,23,30,18,5,1,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,...,21,35,16,50,1,BLR,NAG,DEL,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,NaN,6,6,...,20,25,20,30,1,CCU,DEL,BLR,NaN,NaN
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0 stop,No info,NaN,27,3,...,16,55,14,20,0,CCU,BLR,NaN,NaN,NaN
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,NaN,6,3,...,4,25,21,50,1,DEL,BOM,COK,NaN,NaN
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,NaN,6,3,...,19,15,4,0,1,DEL,BOM,COK,NaN,NaN
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,NaN,15,6,...,19,15,4,55,1,DEL,BOM,COK,NaN,NaN

In [43]:
big_df['Route_1'].fillna("None",inplace=True)
big_df['Route_2'].fillna("None",inplace=True)
big_df['Route_3'].fillna("None",inplace=True)
big_df['Route_4'].fillna("None",inplace=True)
big_df['Route_5'].fillna("None",inplace=True)

In [44]:
big_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,...,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0 stop,No info,3897.0,24,3,...,1,10,22,20,0,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,...,13,15,5,50,2,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,...,4,25,9,25,2,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,...,23,30,18,5,1,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,...,21,35,16,50,1,BLR,NAG,DEL,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1 stop,No info,NaN,6,6,...,20,25,20,30,1,CCU,DEL,BLR,None,None
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0 stop,No info,NaN,27,3,...,16,55,14,20,0,CCU,BLR,None,None,None
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1 stop,No info,NaN,6,3,...,4,25,21,50,1,DEL,BOM,COK,None,None
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1 stop,No info,NaN,6,3,...,19,15,4,0,1,DEL,BOM,COK,None,None
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1 stop,No info,NaN,15,6,...,19,15,4,55,1,DEL,BOM,COK,None,None

In [45]:
big_df = big_df.drop(['Route'],axis=1)

In [46]:
big_df = big_df.drop(['Total_Stops'],axis=1)

In [47]:
big_df

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,2h 50m,No info,3897.0,24,3,2019,1,10,22,20,0,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,7h 25m,No info,7662.0,1,5,2019,13,15,5,50,2,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,19h,No info,13882.0,9,6,2019,4,25,9,25,2,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,5h 25m,No info,6218.0,12,5,2019,23,30,18,5,1,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,4h 45m,No info,13302.0,1,3,2019,21,35,16,50,1,BLR,NAG,DEL,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,No info,NaN,6,6,2019,20,25,20,30,1,CCU,DEL,BLR,None,None
2667,IndiGo,Kolkata,Banglore,2h 35m,No info,NaN,27,3,2019,16,55,14,20,0,CCU,BLR,None,None,None
2668,Jet Airways,Delhi,Cochin,6h 35m,No info,NaN,6,3,2019,4,25,21,50,1,DEL,BOM,COK,None,None
2669,Air India,Delhi,Cochin,15h 15m,No info,NaN,6,3,2019,19,15,4,0,1,DEL,BOM,COK,None,None
2670,Multiple carriers,Delhi,Cochin,14h 20m,No info,NaN,15,6,2019,19,15,4,55,1,DEL,BOM,COK,None,None

In [48]:
big_df['Stops']=big_df['Stops'].astype(int)

In [49]:
big_df['Duration']=  big_df['Duration'].str.replace("h", '*60').str.replace(' ','+').str.replace('m','*1').apply(eval)

In [50]:
big_df

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,Banglore,New Delhi,170,No info,3897.0,24,3,2019,1,10,22,20,0,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,445,No info,7662.0,1,5,2019,13,15,5,50,2,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,1140,No info,13882.0,9,6,2019,4,25,9,25,2,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,325,No info,6218.0,12,5,2019,23,30,18,5,1,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,285,No info,13302.0,1,3,2019,21,35,16,50,1,BLR,NAG,DEL,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,1435,No info,NaN,6,6,2019,20,25,20,30,1,CCU,DEL,BLR,None,None
2667,IndiGo,Kolkata,Banglore,155,No info,NaN,27,3,2019,16,55,14,20,0,CCU,BLR,None,None,None
2668,Jet Airways,Delhi,Cochin,395,No info,NaN,6,3,2019,4,25,21,50,1,DEL,BOM,COK,None,None
2669,Air India,Delhi,Cochin,915,No info,NaN,6,3,2019,19,15,4,0,1,DEL,BOM,COK,None,None
2670,Multiple carriers,Delhi,Cochin,860,No info,NaN,15,6,2019,19,15,4,55,1,DEL,BOM,COK,None,None

In [51]:
label_encoder = preprocessing.LabelEncoder()

In [52]:
big_df['Airline']=label_encoder.fit_transform(big_df['Airline'])

In [53]:
big_df['Airline'].unique()

array([ 3,  1,  4,  8,  6,  2, 10,  0, 11,  5,  7,  9])

In [54]:
big_df

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,Banglore,New Delhi,170,No info,3897.0,24,3,2019,1,10,22,20,0,BLR,DEL,None,None,None
1,1,Kolkata,Banglore,445,No info,7662.0,1,5,2019,13,15,5,50,2,CCU,IXR,BBI,BLR,None
2,4,Delhi,Cochin,1140,No info,13882.0,9,6,2019,4,25,9,25,2,DEL,LKO,BOM,COK,None
3,3,Kolkata,Banglore,325,No info,6218.0,12,5,2019,23,30,18,5,1,CCU,NAG,BLR,None,None
4,3,Banglore,New Delhi,285,No info,13302.0,1,3,2019,21,35,16,50,1,BLR,NAG,DEL,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,Kolkata,Banglore,1435,No info,NaN,6,6,2019,20,25,20,30,1,CCU,DEL,BLR,None,None
2667,3,Kolkata,Banglore,155,No info,NaN,27,3,2019,16,55,14,20,0,CCU,BLR,None,None,None
2668,4,Delhi,Cochin,395,No info,NaN,6,3,2019,4,25,21,50,1,DEL,BOM,COK,None,None
2669,1,Delhi,Cochin,915,No info,NaN,6,3,2019,19,15,4,0,1,DEL,BOM,COK,None,None
2670,6,Delhi,Cochin,860,No info,NaN,15,6,2019,19,15,4,55,1,DEL,BOM,COK,None,None

In [55]:
big_df['Source']=label_encoder.fit_transform(big_df['Source'])
big_df['Destination']=label_encoder.fit_transform(big_df['Destination'])
big_df['Additional_Info']=label_encoder.fit_transform(big_df['Additional_Info'])
big_df['Route_1']=label_encoder.fit_transform(big_df['Route_1'])
big_df['Route_2']=label_encoder.fit_transform(big_df['Route_2'])
big_df['Route_3']=label_encoder.fit_transform(big_df['Route_3'])
big_df['Route_4']=label_encoder.fit_transform(big_df['Route_4'])
big_df['Route_5']=label_encoder.fit_transform(big_df['Route_5'])

In [56]:
big_df

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,170,8,3897.0,24,3,2019,1,10,22,20,0,0,13,30,13,5
1,1,3,0,445,8,7662.0,1,5,2019,13,15,5,50,2,2,25,1,3,5
2,4,2,1,1140,8,13882.0,9,6,2019,4,25,9,25,2,3,32,4,5,5
3,3,3,0,325,8,6218.0,12,5,2019,23,30,18,5,1,2,34,3,13,5
4,3,0,5,285,8,13302.0,1,3,2019,21,35,16,50,1,0,34,8,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,3,0,1435,8,NaN,6,6,2019,20,25,20,30,1,2,14,3,13,5
2667,3,3,0,155,8,NaN,27,3,2019,16,55,14,20,0,2,5,30,13,5
2668,4,2,1,395,8,NaN,6,3,2019,4,25,21,50,1,3,7,6,13,5
2669,1,2,1,915,8,NaN,6,3,2019,19,15,4,0,1,3,7,6,13,5
2670,6,2,1,860,8,NaN,15,6,2019,19,15,4,55,1,3,7,6,13,5

In [57]:
big_df.describe()

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
count,13354.000000,13354.000000,13354.000000,13354.00000,13354.000000,10683.000000,13354.000000,13354.000000,13354.0,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000,13354.000000
mean,3.977086,1.954096,1.435450,642.42287,7.407743,9087.064121,13.389846,4.710574,2019.0,13.396061,24.664146,12.513254,24.507264,0.826045,2.015651,11.901677,13.519021,11.791149,4.982852
std,2.363997,1.178607,1.473368,506.71504,1.198393,4611.359167,8.439060,1.165622,0.0,6.896145,16.559723,5.736273,18.832385,0.674608,1.205399,7.987999,11.744642,2.951447,0.266600
min,0.000000,0.000000,0.000000,5.00000,0.000000,1759.000000,1.000000,3.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,0.000000,175.00000,8.000000,5277.000000,6.000000,3.000000,2019.0,8.000000,10.000000,8.000000,5.000000,0.000000,1.000000,7.000000,4.000000,13.000000,5.000000
50%,4.000000,2.000000,1.000000,520.00000,8.000000,8372.000000,12.000000,5.000000,2019.0,14.000000,25.000000,11.000000,25.000000,1.000000,2.000000,7.000000,6.000000,13.000000,5.000000
75%,4.000000,3.000000,2.000000,930.00000,8.000000,12373.000000,21.000000,6.000000,2019.0,19.000000,35.000000,18.000000,40.000000,1.000000,3.000000,14.000000,30.000000,13.000000,5.000000
max,11.000000,4.000000,5.000000,2860.00000,9.000000,79512.000000,27.000000,6.000000,2019.0,23.000000,55.000000,23.000000,55.000000,4.000000,5.000000,45.000000,30.000000,13.000000,5.000000

In [58]:
big_df.dtypes

Airline              int64
Source               int64
Destination          int64
Duration             int64
Additional_Info      int64
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrival_Hour         int64
Arrival_Minutes      int64
Dep_Hour             int64
Dep_Minutes          int64
Stops                int64
Route_1              int64
Route_2              int64
Route_3              int64
Route_4              int64
Route_5              int64
dtype: object

In [59]:
big_df['Additional_Info'].unique()

array([8, 5, 7, 1, 6, 0, 4, 3, 9, 2])

In [60]:
count = big_df['Route_4'].value_counts()
print(count)

13    11397
5      1373
3       390
6        98
9        38
4        33
7         9
12        5
10        4
8         3
11        1
2         1
1         1
0         1
Name: Route_4, dtype: int64

In [61]:
big_df['Route_4'].unique()

array([13,  3,  5,  6,  4,  9,  7, 10,  8, 12,  1,  2,  0, 11])

In [62]:
big_df.skew()

Airline             0.720924
Source             -0.424151
Destination         1.247893
Duration            0.867883
Additional_Info    -1.784752
Price               1.812552
Date                0.135142
Month              -0.390684
Year                0.000000
Arrival_Hour       -0.384591
Arrival_Minutes     0.111711
Dep_Hour            0.109087
Dep_Minutes         0.159397
Stops               0.317797
Route_1            -0.618133
Route_2             1.426787
Route_3             0.636124
Route_4            -2.084009
Route_5           -15.985555
dtype: float64

In [63]:
for col in big_df.columns:
    if big_df.skew().loc[col]>0.55:
        big_df[col]=np.log1p(big_df[col])

/Users/vishaln/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [64]:
big_df.skew()

Airline            -0.680746
Source             -0.424151
Destination         0.283069
Duration           -0.179667
Additional_Info    -1.784752
Price              -0.254565
Date                0.135142
Month              -0.390684
Year                0.000000
Arrival_Hour       -0.384591
Arrival_Minutes     0.111711
Dep_Hour            0.109087
Dep_Minutes         0.159397
Stops               0.317797
Route_1            -0.618133
Route_2            -0.835693
Route_3             0.324430
Route_4            -2.084009
Route_5           -15.985555
dtype: float64

In [65]:
train_df = big_df[0:10683]
test_df = big_df[10683:]
test_df = test_df.drop(['Price'], axis =1)

In [66]:
train_df

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,1.386294,0,1.791759,5.141664,8,8.268219,24,3,2019,1,10,22,20,0,0,2.639057,3.433987,13,5
1,0.693147,3,0.000000,6.100319,8,8.944159,1,5,2019,13,15,5,50,2,2,3.258097,0.693147,3,5
2,1.609438,2,0.693147,7.039660,8,9.538420,9,6,2019,4,25,9,25,2,3,3.496508,1.609438,5,5
3,1.386294,3,0.000000,5.786897,8,8.735364,12,5,2019,23,30,18,5,1,2,3.555348,1.386294,13,5
4,1.386294,0,1.791759,5.655992,8,9.495745,1,3,2019,21,35,16,50,1,0,3.555348,2.197225,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0.000000,3,0.000000,5.017280,8,8.320692,9,4,2019,22,25,19,55,0,2,1.791759,3.433987,13,5
10679,0.693147,3,0.000000,5.049856,8,8.329899,27,4,2019,23,20,20,45,0,2,1.791759,3.433987,13,5
10680,1.609438,0,1.098612,5.198497,8,8.885994,27,4,2019,11,20,8,20,0,0,2.639057,3.433987,13,5
10681,2.397895,0,1.791759,5.081404,8,9.445333,1,3,2019,14,10,11,30,0,0,2.639057,3.433987,13,5
10682,0.693147,2,0.693147,6.216606,8,9.371949,9,5,2019,19,15,10,55,2,3,2.833213,1.609438,5,5

In [67]:
test_df

,Airline,Source,Destination,Duration,Additional_Info,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,1.609438,2,0.693147,6.486161,8,6,6,2019,4,25,17,30,1,3,2.079442,1.945910,13,5
1,1.386294,3,0.000000,5.484797,8,12,5,2019,10,20,6,20,1,2,3.526361,1.386294,13,5
2,1.609438,2,0.693147,7.262629,5,21,5,2019,19,0,19,15,1,3,2.079442,1.945910,13,5
3,1.945910,2,0.693147,6.660575,8,21,5,2019,21,0,8,0,1,3,2.079442,1.945910,13,5
4,0.000000,0,1.098612,5.141664,8,24,6,2019,2,45,23,55,0,0,2.639057,3.433987,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,0.693147,3,0.000000,7.269617,8,6,6,2019,20,25,20,30,1,2,2.708050,1.386294,13,5
2667,1.386294,3,0.000000,5.049856,8,27,3,2019,16,55,14,20,0,2,1.791759,3.433987,13,5
2668,1.609438,2,0.693147,5.981414,8,6,3,2019,4,25,21,50,1,3,2.079442,1.945910,13,5
2669,0.693147,2,0.693147,6.820016,8,6,3,2019,19,15,4,0,1,3,2.079442,1.945910,13,5
2670,1.945910,2,0.693147,6.758095,8,15,6,2019,19,15,4,55,1,3,2.079442,1.945910,13,5

In [68]:
x = train_df.drop(['Price'], axis=1)
y = train_df['Price']

In [69]:
x

,Airline,Source,Destination,Duration,Additional_Info,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Stops,Route_1,Route_2,Route_3,Route_4,Route_5
0,1.386294,0,1.791759,5.141664,8,24,3,2019,1,10,22,20,0,0,2.639057,3.433987,13,5
1,0.693147,3,0.000000,6.100319,8,1,5,2019,13,15,5,50,2,2,3.258097,0.693147,3,5
2,1.609438,2,0.693147,7.039660,8,9,6,2019,4,25,9,25,2,3,3.496508,1.609438,5,5
3,1.386294,3,0.000000,5.786897,8,12,5,2019,23,30,18,5,1,2,3.555348,1.386294,13,5
4,1.386294,0,1.791759,5.655992,8,1,3,2019,21,35,16,50,1,0,3.555348,2.197225,13,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0.000000,3,0.000000,5.017280,8,9,4,2019,22,25,19,55,0,2,1.791759,3.433987,13,5
10679,0.693147,3,0.000000,5.049856,8,27,4,2019,23,20,20,45,0,2,1.791759,3.433987,13,5
10680,1.609438,0,1.098612,5.198497,8,27,4,2019,11,20,8,20,0,0,2.639057,3.433987,13,5
10681,2.397895,0,1.791759,5.081404,8,1,3,2019,14,10,11,30,0,0,2.639057,3.433987,13,5
10682,0.693147,2,0.693147,6.216606,8,9,5,2019,19,15,10,55,2,3,2.833213,1.609438,5,5

In [70]:
y

0        8.268219
1        8.944159
2        9.538420
3        8.735364
4        9.495745
           ...
10678    8.320692
10679    8.329899
10680    8.885994
10681    9.445333
10682    9.371949
Name: Price, Length: 10683, dtype: float64

# Model Selection

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [72]:
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    lr=linear_model.LinearRegression()
    lr.fit(x_train,y_train)
    y_pred = lr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.6035868925151171
r2 score corresponding to random state:  43 is:  0.627516818269986
r2 score corresponding to random state:  44 is:  0.6062712238642178
r2 score corresponding to random state:  45 is:  0.599648340829843
r2 score corresponding to random state:  46 is:  0.6232115381736303
r2 score corresponding to random state:  47 is:  0.6195066439773598
r2 score corresponding to random state:  48 is:  0.6289775696063941
r2 score corresponding to random state:  49 is:  0.6180560610317913
r2 score corresponding to random state:  50 is:  0.6316041667831109
r2 score corresponding to random state:  51 is:  0.6343330735313812
r2 score corresponding to random state:  52 is:  0.6185672272601757
r2 score corresponding to random state:  53 is:  0.6027384695187057
r2 score corresponding to random state:  54 is:  0.6324294375520325
r2 score corresponding to random state:  55 is:  0.6258843399758206
r2 score corresponding to random state:  56 is:  0.6145116733139075
r2 score corresponding to random state:  57 is:  0.621062388229158
r2 score corresponding to random state:  58 is:  0.6257959855486712
r2 score corresponding to random state:  59 is:  0.6120096687569141
r2 score corresponding to random state:  60 is:  0.625477584891726
r2 score corresponding to random state:  61 is:  0.602504936617879
r2 score corresponding to random state:  62 is:  0.6180812324468057
r2 score corresponding to random state:  63 is:  0.6007953182105017
r2 score corresponding to random state:  64 is:  0.6373924252693757
r2 score corresponding to random state:  65 is:  0.6127612551541468
r2 score corresponding to random state:  66 is:  0.6194662456475001
r2 score corresponding to random state:  67 is:  0.606030547261329
r2 score corresponding to random state:  68 is:  0.6139685831104729
r2 score corresponding to random state:  69 is:  0.609154178908265
r2 score corresponding to random state:  70 is:  0.593603455166851
r2 score corresponding to random state:  71 is:  0.6164616918320814
r2 score corresponding to random state:  72 is:  0.6167214078594049
r2 score corresponding to random state:  73 is:  0.6300457456575868
r2 score corresponding to random state:  74 is:  0.60671211097668
r2 score corresponding to random state:  75 is:  0.6301671181811982
r2 score corresponding to random state:  76 is:  0.6243406125792701
r2 score corresponding to random state:  77 is:  0.6376510568199327
r2 score corresponding to random state:  78 is:  0.6232211617038415
r2 score corresponding to random state:  79 is:  0.616188041663944
r2 score corresponding to random state:  80 is:  0.6312491149319683
r2 score corresponding to random state:  81 is:  0.6094686474568866
r2 score corresponding to random state:  82 is:  0.6258455756119607
r2 score corresponding to random state:  83 is:  0.6101967095889602
r2 score corresponding to random state:  84 is:  0.6145012699435781
r2 score corresponding to random state:  85 is:  0.6265411036556596
r2 score corresponding to random state:  86 is:  0.6006020648283887
r2 score corresponding to random state:  87 is:  0.6368866946846173
r2 score corresponding to random state:  88 is:  0.6008444321449447
r2 score corresponding to random state:  89 is:  0.6203097837836418
r2 score corresponding to random state:  90 is:  0.631778333076846
r2 score corresponding to random state:  91 is:  0.6082239894630168
r2 score corresponding to random state:  92 is:  0.6184055770280508
r2 score corresponding to random state:  93 is:  0.6027229547613866
r2 score corresponding to random state:  94 is:  0.6268347159818444
r2 score corresponding to random state:  95 is:  0.6333734536401093
r2 score corresponding to random state:  96 is:  0.6207463196704143
r2 score corresponding to random state:  97 is:  0.6148350362428252
r2 score corresponding to random state:  98 is:  0.6176174095580177
r2 score corresponding to random state:  99 is:  0.6179754504056761
r2 score corresponding to random state:  100 is:  0.6363502631595085
max r2 score corresponding to 77  is  0.6376510568199327

In [73]:
from sklearn.model_selection import cross_val_score
cross_val_score(linear_model.LinearRegression(),x,y,cv=5,scoring="r2").mean()

0.6208082756642923

In [74]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
lr=linear_model.LinearRegression()
lr.fit(x_train,y_train)
y_predlr=lr.predict(x_test)

In [75]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
neighbors={"n_neighbors":range(1,30)}
knr=KNeighborsRegressor()
gknr = GridSearchCV(knr, neighbors, cv=5)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 2}

In [76]:
knr=KNeighborsRegressor(n_neighbors=2)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    knr.fit(x_train,y_train)
    y_pred = knr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.7319152316108719
r2 score corresponding to random state:  43 is:  0.7431788793953313
r2 score corresponding to random state:  44 is:  0.7123965099693771
r2 score corresponding to random state:  45 is:  0.74541633557762
r2 score corresponding to random state:  46 is:  0.7276775465663613
r2 score corresponding to random state:  47 is:  0.7365975266308465
r2 score corresponding to random state:  48 is:  0.7332080510380162
r2 score corresponding to random state:  49 is:  0.7192418396636133
r2 score corresponding to random state:  50 is:  0.7424751603502
r2 score corresponding to random state:  51 is:  0.7538310529774273
r2 score corresponding to random state:  52 is:  0.7291965977233295
r2 score corresponding to random state:  53 is:  0.7187814998795183
r2 score corresponding to random state:  54 is:  0.743877778201971
r2 score corresponding to random state:  55 is:  0.7324648979472445
r2 score corresponding to random state:  56 is:  0.7342418976618608
r2 score corresponding to random state:  57 is:  0.7269775711782139
r2 score corresponding to random state:  58 is:  0.757500678248586
r2 score corresponding to random state:  59 is:  0.7183085151316566
r2 score corresponding to random state:  60 is:  0.7194787747474627
r2 score corresponding to random state:  61 is:  0.6944380910823744
r2 score corresponding to random state:  62 is:  0.7332389322822832
r2 score corresponding to random state:  63 is:  0.7050159621847591
r2 score corresponding to random state:  64 is:  0.7567700745503405
r2 score corresponding to random state:  65 is:  0.7348656285708851
r2 score corresponding to random state:  66 is:  0.7320952195562984
r2 score corresponding to random state:  67 is:  0.7393568414149626
r2 score corresponding to random state:  68 is:  0.7556281737780624
r2 score corresponding to random state:  69 is:  0.7368423502514967
r2 score corresponding to random state:  70 is:  0.7453723158277588
r2 score corresponding to random state:  71 is:  0.7395426829736642
r2 score corresponding to random state:  72 is:  0.7352863453518834
r2 score corresponding to random state:  73 is:  0.7298791595652889
r2 score corresponding to random state:  74 is:  0.7130483791518741
r2 score corresponding to random state:  75 is:  0.7336850533541872
r2 score corresponding to random state:  76 is:  0.7481607270287787
r2 score corresponding to random state:  77 is:  0.7480223604227985
r2 score corresponding to random state:  78 is:  0.7503644393971041
r2 score corresponding to random state:  79 is:  0.7293369050104177
r2 score corresponding to random state:  80 is:  0.7296942563204422
r2 score corresponding to random state:  81 is:  0.7397510296395171
r2 score corresponding to random state:  82 is:  0.7339607453056203
r2 score corresponding to random state:  83 is:  0.7394278014264577
r2 score corresponding to random state:  84 is:  0.7123035518798031
r2 score corresponding to random state:  85 is:  0.7421651119978734
r2 score corresponding to random state:  86 is:  0.7250967633957908
r2 score corresponding to random state:  87 is:  0.7211427802491808
r2 score corresponding to random state:  88 is:  0.7170556732845577
r2 score corresponding to random state:  89 is:  0.7481744547532823
r2 score corresponding to random state:  90 is:  0.7244879319849092
r2 score corresponding to random state:  91 is:  0.7464911451086294
r2 score corresponding to random state:  92 is:  0.7217551221795389
r2 score corresponding to random state:  93 is:  0.7278017035086893
r2 score corresponding to random state:  94 is:  0.7398787773361014
r2 score corresponding to random state:  95 is:  0.7572616402568797
r2 score corresponding to random state:  96 is:  0.734951269008422
r2 score corresponding to random state:  97 is:  0.7102548861773201
r2 score corresponding to random state:  98 is:  0.7433220798084564
r2 score corresponding to random state:  99 is:  0.7416565160199105
r2 score corresponding to random state:  100 is:  0.760063711562184
max r2 score corresponding to 100  is  0.760063711562184

In [77]:
from sklearn.model_selection import cross_val_score
print("Mean r2score for kNeighbors Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for kNeighbors Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").std())

Mean r2score for kNeighbors Regression:  0.7320133695940972
Standard deviation in r2 score for kNeighbors Regression:  0.013512274120229694

In [78]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=100,test_size=0.20)
knr.fit(x_train,y_train)
y_predknr=knr.predict(x_test)

In [79]:
from sklearn.linear_model import Lasso
parameters={"alpha":[0.001,0.01,0.1,1]}
lsreg=Lasso()
glsr = GridSearchCV(lsreg, parameters, cv=5)
glsr.fit(x,y)
glsr.best_params_

{'alpha': 0.001}

In [80]:
lsreg=Lasso(alpha=0.001)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    lsreg.fit(x_train,y_train)
    y_pred = lsreg.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.6033232553119084
r2 score corresponding to random state:  43 is:  0.6272852028632725
r2 score corresponding to random state:  44 is:  0.6062610010232562
r2 score corresponding to random state:  45 is:  0.5989359525321192
r2 score corresponding to random state:  46 is:  0.6234455843078113
r2 score corresponding to random state:  47 is:  0.61895417379369
r2 score corresponding to random state:  48 is:  0.6281739166713258
r2 score corresponding to random state:  49 is:  0.6183175515613956
r2 score corresponding to random state:  50 is:  0.6321286727158105
r2 score corresponding to random state:  51 is:  0.6343454880656207
r2 score corresponding to random state:  52 is:  0.6183769156820953
r2 score corresponding to random state:  53 is:  0.6026111834325056
r2 score corresponding to random state:  54 is:  0.6322864629253371
r2 score corresponding to random state:  55 is:  0.6251525846400263
r2 score corresponding to random state:  56 is:  0.6139893157465115
r2 score corresponding to random state:  57 is:  0.6208352411722654
r2 score corresponding to random state:  58 is:  0.6251875997094534
r2 score corresponding to random state:  59 is:  0.6119093539196533
r2 score corresponding to random state:  60 is:  0.62505270699953
r2 score corresponding to random state:  61 is:  0.6026158554147922
r2 score corresponding to random state:  62 is:  0.6178544920042158
r2 score corresponding to random state:  63 is:  0.6005078097403838
r2 score corresponding to random state:  64 is:  0.6373484016099169
r2 score corresponding to random state:  65 is:  0.6133783400634223
r2 score corresponding to random state:  66 is:  0.620295765172083
r2 score corresponding to random state:  67 is:  0.6059745099472067
r2 score corresponding to random state:  68 is:  0.6143037648969545
r2 score corresponding to random state:  69 is:  0.6088499785820662
r2 score corresponding to random state:  70 is:  0.5928353157898596
r2 score corresponding to random state:  71 is:  0.6161903911756026
r2 score corresponding to random state:  72 is:  0.6154450953799795
r2 score corresponding to random state:  73 is:  0.6294997476760416
r2 score corresponding to random state:  74 is:  0.6064287293074208
r2 score corresponding to random state:  75 is:  0.6302559955456918
r2 score corresponding to random state:  76 is:  0.6240043484303273
r2 score corresponding to random state:  77 is:  0.637432831381546
r2 score corresponding to random state:  78 is:  0.6218768611991787
r2 score corresponding to random state:  79 is:  0.6159861630850113
r2 score corresponding to random state:  80 is:  0.6310597357750442
r2 score corresponding to random state:  81 is:  0.608254716796998
r2 score corresponding to random state:  82 is:  0.625358183304936
r2 score corresponding to random state:  83 is:  0.6102618672489999
r2 score corresponding to random state:  84 is:  0.6147475323420493
r2 score corresponding to random state:  85 is:  0.6258079354503765
r2 score corresponding to random state:  86 is:  0.6002854252094307
r2 score corresponding to random state:  87 is:  0.6365792405732185
r2 score corresponding to random state:  88 is:  0.6010830057711883
r2 score corresponding to random state:  89 is:  0.6200768196101941
r2 score corresponding to random state:  90 is:  0.6306277414255324
r2 score corresponding to random state:  91 is:  0.6078310188718155
r2 score corresponding to random state:  92 is:  0.6178154708154849
r2 score corresponding to random state:  93 is:  0.603001105427953
r2 score corresponding to random state:  94 is:  0.6262533378874979
r2 score corresponding to random state:  95 is:  0.6331140219150497
r2 score corresponding to random state:  96 is:  0.6202259015167595
r2 score corresponding to random state:  97 is:  0.6148053330103016
r2 score corresponding to random state:  98 is:  0.617746176193082
r2 score corresponding to random state:  99 is:  0.6179535154465715
r2 score corresponding to random state:  100 is:  0.6359268817479282
max r2 score corresponding to 77  is  0.637432831381546

In [81]:
print("Mean r2score for gradient boosting Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Gradient Boosting Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").std())

Mean r2score for gradient boosting Regression:  0.6206555917633718
Standard deviation in r2 score for Gradient Boosting Regression:  0.015908808734722012

In [82]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
lsreg.fit(x_train,y_train)
y_predlas=lsreg.predict(x_test)

In [83]:
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings("ignore")
gbr=GradientBoostingRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000]}
ggbr = GridSearchCV(gbr, parameters, cv=5)
ggbr.fit(x,y)
ggbr.best_params_

{'learning_rate': 1, 'n_estimators': 1000}

In [84]:
gbr=GradientBoostingRegressor(learning_rate=1,n_estimators=1000)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    gbr.fit(x_train,y_train)
    y_pred = gbr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.9374960862305888
r2 score corresponding to random state:  43 is:  0.9456133139866736
r2 score corresponding to random state:  44 is:  0.932972101655559
r2 score corresponding to random state:  45 is:  0.9276865506528531
r2 score corresponding to random state:  46 is:  0.9338265736839325
r2 score corresponding to random state:  47 is:  0.9437352620133714
r2 score corresponding to random state:  48 is:  0.9335270804609015
r2 score corresponding to random state:  49 is:  0.9385303102606215
r2 score corresponding to random state:  50 is:  0.942384825490411
r2 score corresponding to random state:  51 is:  0.9426658889836302
r2 score corresponding to random state:  52 is:  0.9404286990397804
r2 score corresponding to random state:  53 is:  0.9271155400939308
r2 score corresponding to random state:  54 is:  0.9351261147784833
r2 score corresponding to random state:  55 is:  0.9308423242703381
r2 score corresponding to random state:  56 is:  0.9366415707232998
r2 score corresponding to random state:  57 is:  0.9430339798156139
r2 score corresponding to random state:  58 is:  0.9408847920171176
r2 score corresponding to random state:  59 is:  0.931065973801841
r2 score corresponding to random state:  60 is:  0.9387535579473498
r2 score corresponding to random state:  61 is:  0.940241628043623
r2 score corresponding to random state:  62 is:  0.9329491656423958
r2 score corresponding to random state:  63 is:  0.9324225180598065
r2 score corresponding to random state:  64 is:  0.9329421845255679
r2 score corresponding to random state:  65 is:  0.93779873119216
r2 score corresponding to random state:  66 is:  0.9243330392208872
r2 score corresponding to random state:  67 is:  0.9292712123397654
r2 score corresponding to random state:  68 is:  0.9392258347011546
r2 score corresponding to random state:  69 is:  0.9404321149025775
r2 score corresponding to random state:  70 is:  0.9364169523825816
r2 score corresponding to random state:  71 is:  0.9360559381807632
r2 score corresponding to random state:  72 is:  0.9399189135522378
r2 score corresponding to random state:  73 is:  0.9377554830504428
r2 score corresponding to random state:  74 is:  0.9275114528416879
r2 score corresponding to random state:  75 is:  0.937755855430101
r2 score corresponding to random state:  76 is:  0.9381604353614355
r2 score corresponding to random state:  77 is:  0.9478042870358154
r2 score corresponding to random state:  78 is:  0.9351610830190185
r2 score corresponding to random state:  79 is:  0.9363729986804724
r2 score corresponding to random state:  80 is:  0.9370648804072
r2 score corresponding to random state:  81 is:  0.9345393192886365
r2 score corresponding to random state:  82 is:  0.932192733860219
r2 score corresponding to random state:  83 is:  0.935420320092774
r2 score corresponding to random state:  84 is:  0.9387948886829623
r2 score corresponding to random state:  85 is:  0.9366175032396767
r2 score corresponding to random state:  86 is:  0.9299239415036866
r2 score corresponding to random state:  87 is:  0.9379317993154618
r2 score corresponding to random state:  88 is:  0.9298652616560963
r2 score corresponding to random state:  89 is:  0.944184864100548
r2 score corresponding to random state:  90 is:  0.9348439236553653
r2 score corresponding to random state:  91 is:  0.9361042110515452
r2 score corresponding to random state:  92 is:  0.9363644202825628
r2 score corresponding to random state:  93 is:  0.9341622937371202
r2 score corresponding to random state:  94 is:  0.9374416795963363
r2 score corresponding to random state:  95 is:  0.9371909985200542
r2 score corresponding to random state:  96 is:  0.9431709911386797
r2 score corresponding to random state:  97 is:  0.9291790252445566
r2 score corresponding to random state:  98 is:  0.9289881524323266
r2 score corresponding to random state:  99 is:  0.9386302878416308
r2 score corresponding to random state:  100 is:  0.9414689845702615
max r2 score corresponding to 77  is  0.9478042870358154

In [85]:
print("Mean r2score for gradient boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Gradient Boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").std())

Mean r2score for gradient boosting Regression:  0.936182219445351
Standard deviation in r2 score for Gradient Boosting Regression:  0.0039933314739599435

In [86]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=77,test_size=0.20)
gbr.fit(x_train,y_train)
y_predgbr=gbr.predict(x_test)

In [87]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
ada_reg=AdaBoostRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000],"base_estimator":[lr,lsreg,DecisionTreeRegressor()]}
gada = GridSearchCV(ada_reg, parameters, cv=5)
gada.fit(x,y)
gada.best_params_

{'base_estimator': DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       presort=False, random_state=None, splitter='best'),
 'learning_rate': 0.1,
 'n_estimators': 500}

In [88]:
ada_reg=AdaBoostRegressor(learning_rate=0.1,n_estimators=500)
max_r_score=0
for r_state in range(42,101):
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
    ada_reg.fit(x_train,y_train)
    y_pred = ada_reg.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
    if r2_scr>max_r_score:
        max_r_score=r2_scr
        final_r_state=r_state 
print("max r2 score corresponding to",final_r_state," is ",max_r_score)

r2 score corresponding to random state:  42 is:  0.6645227084401233
r2 score corresponding to random state:  43 is:  0.6883647950561277
r2 score corresponding to random state:  44 is:  0.6759474104123309
r2 score corresponding to random state:  45 is:  0.6735837959866933
r2 score corresponding to random state:  46 is:  0.6718147986392623
r2 score corresponding to random state:  47 is:  0.6903679314948866
r2 score corresponding to random state:  48 is:  0.6948283033153635
r2 score corresponding to random state:  49 is:  0.6791782003487739
r2 score corresponding to random state:  50 is:  0.6833677149778521
r2 score corresponding to random state:  51 is:  0.6767946317119278
r2 score corresponding to random state:  52 is:  0.6731865156456157
r2 score corresponding to random state:  53 is:  0.6623640586656292
r2 score corresponding to random state:  54 is:  0.6962337767712574
r2 score corresponding to random state:  55 is:  0.6701578645873779
r2 score corresponding to random state:  56 is:  0.6928176932251967
r2 score corresponding to random state:  57 is:  0.6886334748444789
r2 score corresponding to random state:  58 is:  0.70666936989808
r2 score corresponding to random state:  59 is:  0.6796008333982118
r2 score corresponding to random state:  60 is:  0.6753684846136745
r2 score corresponding to random state:  61 is:  0.664831054912787
r2 score corresponding to random state:  62 is:  0.6796841004555199
r2 score corresponding to random state:  63 is:  0.6601212324452096
r2 score corresponding to random state:  64 is:  0.6751227708420781
r2 score corresponding to random state:  65 is:  0.6987464234757657
r2 score corresponding to random state:  66 is:  0.6938918414441289
r2 score corresponding to random state:  67 is:  0.6926429922873144
r2 score corresponding to random state:  68 is:  0.6747814055555889
r2 score corresponding to random state:  69 is:  0.6831758446220191
r2 score corresponding to random state:  70 is:  0.6705671072066488
r2 score corresponding to random state:  71 is:  0.6786328963676194
r2 score corresponding to random state:  72 is:  0.6721403708716245
r2 score corresponding to random state:  73 is:  0.6866549141968641
r2 score corresponding to random state:  74 is:  0.6862386821882113
r2 score corresponding to random state:  75 is:  0.6993839888407722
r2 score corresponding to random state:  76 is:  0.6797338683272308
r2 score corresponding to random state:  77 is:  0.6835798596924272
r2 score corresponding to random state:  78 is:  0.6766427769071608
r2 score corresponding to random state:  79 is:  0.6937822815147072
r2 score corresponding to random state:  80 is:  0.6887146131250395
r2 score corresponding to random state:  81 is:  0.6903227844092314
r2 score corresponding to random state:  82 is:  0.680582953665476
r2 score corresponding to random state:  83 is:  0.6846640386635036
r2 score corresponding to random state:  84 is:  0.6759407924950048
r2 score corresponding to random state:  85 is:  0.6709878833427303
r2 score corresponding to random state:  86 is:  0.6643091107270211
r2 score corresponding to random state:  87 is:  0.7025419839136462
r2 score corresponding to random state:  88 is:  0.6573231998995557
r2 score corresponding to random state:  89 is:  0.6767869545546406
r2 score corresponding to random state:  90 is:  0.6917018028480204
r2 score corresponding to random state:  91 is:  0.6761993630206021
r2 score corresponding to random state:  92 is:  0.6789709432573452
r2 score corresponding to random state:  93 is:  0.6751732625585418
r2 score corresponding to random state:  94 is:  0.6888944216891031
r2 score corresponding to random state:  95 is:  0.6855576181502143
r2 score corresponding to random state:  96 is:  0.6886876901926942
r2 score corresponding to random state:  97 is:  0.6944621784025197
r2 score corresponding to random state:  98 is:  0.6697424047312834
r2 score corresponding to random state:  99 is:  0.6801552426852215
r2 score corresponding to random state:  100 is:  0.6735715042091655
max r2 score corresponding to 58  is  0.70666936989808

In [89]:
print("Mean r2score for Ada boosting Regression: ",cross_val_score(ada_reg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Ada Boosting Regression: ",cross_val_score(ada_reg,x,y,cv=5,scoring="r2").std())

Mean r2score for Ada boosting Regression:  0.6812442195264253
Standard deviation in r2 score for Ada Boosting Regression:  0.016997903762610057

In [90]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=58,test_size=0.20)
ada_reg.fit(x_train,y_train)
y_predada=ada_reg.predict(x_test)

# Model Selection

In [ ]:
I choose GradientBoostingRegressor Model as my preferred model as it performs better on the above dataset.

# Save the Model

In [ ]:
from sklearn.externals import joblib

In [ ]:
joblib.dump(gbr,'Model_FlightPrediction.csv')